td.language{
	line-height: 25px !important;
}
td.transform label{
	width: 23% !important;
	line-height: 25px !important;
	float: left !important;
	clear: both !important;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
td.transform input.inputText{
	width: 77%;
	float: left;
	margin-bottom: 5px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}